.gitattributes   zos-working-tree-encoding=iso8859-1
.gitignore       zos-working-tree-encoding=iso8859-1

*.md git-encoding=UTF8 zos-working-tree-encoding=ibm-1047
*.PACK binary
*.SPACK binary
.zigi/dsn git-encoding=UTF8 zos-working-tree-encoding=ibm-1047
LICENSE git-encoding=UTF8 zos-working-tree-encoding=ibm-1047
zos-binary-xfer/* binary
zos-text-xfer/* zos-working-tree-encoding=ibm-1047Z.FB.A.TXT.PACK git-encoding=BINARY zos-working-tree-encoding=BINARY binary
Z.FB.A.TXT.SPACK git-encoding=BINARY zos-working-tree-encoding=BINARY binary
Z.FB.AAA.TXT.PACK git-encoding=BINARY zos-working-tree-encoding=BINARY binary
Z.FB.AAA.TXT.SPACK git-encoding=BINARY zos-working-tree-encoding=BINARY binary
Z.FB.ALICE29.TXT.PACK git-encoding=BINARY zos-working-tree-encoding=BINARY binary
Z.FB.ALICE29.TXT.SPACK git-encoding=BINARY zos-working-tree-encoding=BINARY binary
Z.FB.ALPHABET.TXT.PACK git-encoding=BINARY zos-working-tree-encoding=BINARY binary
Z.FB.ALPHABET.TXT.SPACK git-encoding=BINARY zos-working-tree-encoding=BINARY binary
Z.FB.ASYOULIK.TXT.PACK git-encoding=BINARY zos-working-tree-encoding=BINARY binary
Z.FB.ASYOULIK.TXT.SPACK git-encoding=BINARY zos-working-tree-encoding=BINARY binary
Z.FB.BIBLE.TXT.PACK git-encoding=BINARY zos-working-tree-encoding=BINARY binary
Z.FB.BIBLE.TXT.SPACK git-encoding=BINARY zos-working-tree-encoding=BINARY binary
Z.FB.CP.HTML.PACK git-encoding=BINARY zos-working-tree-encoding=BINARY binary
Z.FB.CP.HTML.SPACK git-encoding=BINARY zos-working-tree-encoding=BINARY binary
Z.FB.E.COLI.PACK git-encoding=BINARY zos-working-tree-encoding=BINARY binary
Z.FB.E.COLI.SPACK git-encoding=BINARY zos-working-tree-encoding=BINARY binary
Z.FB.FIELDS.C.PACK git-encoding=BINARY zos-working-tree-encoding=BINARY binary
Z.FB.FIELDS.C.SPACK git-encoding=BINARY zos-working-tree-encoding=BINARY binary
Z.FB.GRAMMAR.LSP.PACK git-encoding=BINARY zos-working-tree-encoding=BINARY binary
Z.FB.GRAMMAR.LSP.SPACK git-encoding=BINARY zos-working-tree-encoding=BINARY binary
Z.FB.KENNEDY.XLS.PACK git-encoding=BINARY zos-working-tree-encoding=BINARY binary
Z.FB.KENNEDY.XLS.SPACK git-encoding=BINARY zos-working-tree-encoding=BINARY binary
Z.FB.LCET10.TXT.PACK git-encoding=BINARY zos-working-tree-encoding=BINARY binary
Z.FB.LCET10.TXT.SPACK git-encoding=BINARY zos-working-tree-encoding=BINARY binary
Z.FB.PI.TXT.PACK git-encoding=BINARY zos-working-tree-encoding=BINARY binary
Z.FB.PI.TXT.SPACK git-encoding=BINARY zos-working-tree-encoding=BINARY binary
Z.FB.PLRABN12.TXT.PACK git-encoding=BINARY zos-working-tree-encoding=BINARY binary
Z.FB.PLRABN12.TXT.SPACK git-encoding=BINARY zos-working-tree-encoding=BINARY binary
Z.FB.PTT5.PACK git-encoding=BINARY zos-working-tree-encoding=BINARY binary
Z.FB.PTT5.SPACK git-encoding=BINARY zos-working-tree-encoding=BINARY binary
Z.FB.RANDOM.TXT.PACK git-encoding=BINARY zos-working-tree-encoding=BINARY binary
Z.FB.RANDOM.TXT.SPACK git-encoding=BINARY zos-working-tree-encoding=BINARY binary
Z.FB.SUM.PACK git-encoding=BINARY zos-working-tree-encoding=BINARY binary
Z.FB.SUM.SPACK git-encoding=BINARY zos-working-tree-encoding=BINARY binary
Z.FB.WORLD192.TXT.PACK git-encoding=BINARY zos-working-tree-encoding=BINARY binary
Z.FB.WORLD192.TXT.SPACK git-encoding=BINARY zos-working-tree-encoding=BINARY binary
Z.FB.XARGS.PACK git-encoding=BINARY zos-working-tree-encoding=BINARY binary
Z.FB.XARGS.SPACK git-encoding=BINARY zos-working-tree-encoding=BINARY binary
Z.VB.BIBLE.TXT.PACK git-encoding=BINARY zos-working-tree-encoding=BINARY binary
Z.VB.BIBLE.TXT.SPACK git-encoding=BINARY zos-working-tree-encoding=BINARY binary
